.TFClassThumbScout{
	background-image:url(img/classthumbs/mvm_scout_bot.png);
}

.TFClassThumbSoldier{
	background-image:url(img/classthumbs/mvm_soldier_bot.png);
}

.TFClassThumbPyro{
	background-image:url(img/classthumbs/mvm_pyro_bot.png);
}

.TFClassThumbDemoman{
	background-image:url(img/classthumbs/mvm_demoman_bot.png);
}

.TFClassThumbHeavyWeapons{
	background-image:url(img/classthumbs/mvm_heavy_bot.png);
}

.TFClassThumbEngineer{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_engineer.png);
}

.TFClassThumbMedic{
	background-image:url(img/classthumbs/mvm_medic_bot.png);
}

.TFClassThumbSniper{
	background-image:url(img/classthumbs/mvm_sniper_bot.png);
}

.TFClassThumbSpy{
	background-image:url(img/classthumbs/mvm_spy_bot.png);
}

.TFClassThumbTank{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_tank.png);
}

.TFClassThumbMicroSentryBuster{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_sentry_buster.png);
}

.TFClassThumbMiniSentryBuster{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_mini_sentry_buster.png);
}

.TFClassthumbsentryBuster{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_sentry_buster.png);
}

.TFClassThumbDemoKnight{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_demoknight.png);
}

.TFClassThumbHeavyChamp{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_champ.png);
}

.TFClassThumbHeavyDeflector{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_deflector.png);
}

.TFClassThumbHeavyDeflectorHealOnKill{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_deflector_healonkill.png);
}

.TFClassThumbHeavyDeflectorPush{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_deflector_push.png);
}

.TFClassThumbHeavyMittens{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_mittens.png);
}

.TFClassThumbHeavySteelfist{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_steelfist.png);
}

.TFClassThumbHeavyUrgent{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_urgent.png);
}

.TFClassThumbHeavyShotgun{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_shotgun.png);
}      

.TFClassThumbMedicUber{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_medic_uber.png);
}

.TFClassthumbscoutGiant_fast{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_scout_giant_fast.png);
}

.TFClassthumbscoutStun{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_scout_stun.png);
}

.TFClassthumbscoutFan{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_scout_fan.png);
}

.TFClassthumbscoutJumping{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_scout_jumping.png);
}

.TFClassthumbscoutShortstop{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_scout_shortstop.png);
} 

.TFClassthumbscoutStunArmored{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_scout_stun_armored.png);
}

.TFClassthumbsniperBow{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_sniper_bow.png);
}

.TFClassthumbsniperBowMulti{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_sniper_bow_multi.png);
}

.TFClassthumbsniperJarate{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_sniper_jarate.png);
}

.TFClassthumbsniperSydneysleeper{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_sniper_sydneysleeper.png);
}

.TFClassthumbsoldierCrit{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_crit.png);
}

.TFClassthumbsoldierSpammer{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_spammer.png);
}

.TFClassThumbHeavyGru{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_gru.png);
}

.TFClassthumbsoldierBuff{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_buff.png);
}

.TFClassthumbsoldierConch{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_conch.png);
}

.TFClassthumbsoldierBackup{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_backup.png);
}

.TFClassThumbPyroFlare{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_pyro_flare.png);
}

.TFClassThumbHeavyHeater{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_heater.png);
}

.TFClassThumbDemoBomber{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_demo_bomber.png);
}

.TFClassThumbDemoBurst{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_demo_burst.png);
}

.TFClassThumbDemoknightSamurai{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_demoknight_samurai.png);
}

.TFClassThumbHeavyChief{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_heavy_chief.png);
}

.TFClassthumbscoutBat{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_scout_bat.png);
}

.TFClassthumbscoutBonk{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_scout_bonk.png);
}

.TFClassThumbTeleporter{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_teleporter.png);
}

.TFClassthumbsergeantCrits{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_sergeant_crits.png);
}     

.TFClassthumbsoldierBarrage{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_barrage.png);
}

.TFClassthumbsoldierBlackbox{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_blackbox.png);
}

.TFClassthumbsoldierBurstfire{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_burstfire.png);
}

.TFClassthumbsoldierLiberty{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_libertylauncher.png);
}

.TFClassthumbsoldierMajorCrits{
	background-image:url(https://mvm.tf/style/img/classthumbs/class_soldier_major_crits.png);
}

.TFClassThumbGiant
{
/*	background-color:#FF0000;*/
}

.TFClassThumbCritBoost
{
	border: 2px solid #0098C0;
	margin: 0px;
	margin-right:1em;
}

.TFClassThumbBossHealthBar
{
	background-color:#550055;
}

.TFClassThumb
{
	width : 3em;
	height : 3em;
    display:inline-block;
    background-size: 100% auto;
}

.TFClassThumbLarge
{
	width : 6em;
	height : 6em;
    display:inline-block;
    background-size: 100% auto;
}

.TFClassThumbGrey
{
    opacity: 0.3;
	filter: Alpha (opacity=30);
}

.TFClassLarge{
	background-repeat: no-repeat;
	
    /*background: rgba(1, 1, 1, 0.6);*/
	/*filter: Alpha (opacity=30); 
    opacity: 0.3;*/
 	/*background-size:100%*/
}

.TFClassLargeScout{
	background-image:url(img/classlarge/mvm_scout_bot.png);
}

.TFClassLargeSoldier{
	background-image:url(img/classlarge/mvm_soldier_bot.png);
}

.TFClassLargePyro{
	background-image:url(img/classlarge/mvm_pyro_bot.png);
}

.TFClassLargeDemoman{
	background-image:url(img/classlarge/mvm_demoman_bot.png);
}

.TFClassLargeHeavyWeapons{
	background-image:url(img/classlarge/mvm_heavy_bot.png);
}

.TFClassLargeEngineer{
	background-image:url(https://mvm.tf/style/img/classlarge/class_engineer.png);
}

.TFClassLargeMedic{
	background-image:url(img/classlarge/mvm_medic_bot.png);
}

.TFClassLargeSniper{
	background-image:url(img/classlarge/mvm_sniper_bot.png);
}

.TFClassLargeSpy{
	background-image:url(img/classlarge/mvm_spy_bot.png);
}

.TFClassLargeTank{
	background-image:url(img/classlarge/mvm_tank.png);
}