.TFClassIconScout{
	background-image:url(img/classicons/class_scout.png);
}

.TFClassIconSoldier{
	background-image:url(img/classicons/class_soldier.png);
}

.TFClassIconPyro{
	background-image:url(img/classicons/class_pyro.png);
}

.TFClassIconDemoman{
	background-image:url(img/classicons/class_demo.png);
}

.TFClassIconHeavyWeapons{
	background-image:url(img/classicons/class_heavy.png);
}

.TFClassIconEngineer{
	background-image:url(img/classicons/class_engineer.png);
}

.TFClassIconMedic{
	background-image:url(img/classicons/class_medic.png);
}

.TFClassIconSniper{
	background-image:url(img/classicons/class_sniper.png);
}

.TFClassIconSpy{
	background-image:url(img/classicons/class_spy.png);
}

.TFClassIconTank{
	background-image:url(img/classicons/class_tank.png);
}

.TFClassIconMicroSentryBuster{
	background-image:url(img/classicons/class_sentry_buster.png);
}

.TFClassIconMiniSentryBuster{
	background-image:url(img/classicons/class_mini_sentry_buster.png);
}

.TFClassIconSentryBuster{
	background-image:url(img/classicons/class_sentry_buster.png);
}

.TFClassIconDemoKnight{
	background-image:url(img/classicons/class_demoknight.png);
}

.TFClassIconHeavyChamp{
	background-image:url(img/classicons/class_heavy_champ.png);
}

.TFClassIconHeavyDeflector{
	background-image:url(img/classicons/class_heavy_deflector.png);
}

.TFClassIconHeavyDeflectorHealOnKill{
	background-image:url(img/classicons/class_heavy_deflector_healonkill.png);
}

.TFClassIconHeavyDeflectorPush{
	background-image:url(img/classicons/class_heavy_deflector_push.png);
}

.TFClassIconHeavyMittens{
	background-image:url(img/classicons/class_heavy_mittens.png);
}

.TFClassIconHeavySteelfist{
	background-image:url(img/classicons/class_heavy_steelfist.png);
}

.TFClassIconHeavyUrgent{
	background-image:url(img/classicons/class_heavy_urgent.png);
}

.TFClassIconHeavyShotgun{
	background-image:url(img/classicons/class_heavy_shotgun.png);
}      

.TFClassIconMedicUber{
	background-image:url(img/classicons/class_medic_uber.png);
}

.TFClassIconScoutGiant_fast{
	background-image:url(img/classicons/class_scout_giant_fast.png);
}

.TFClassIconScoutStun{
	background-image:url(img/classicons/class_scout_stun.png);
}

.TFClassIconScoutFan{
	background-image:url(img/classicons/class_scout_fan.png);
}

.TFClassIconScoutJumping{
	background-image:url(img/classicons/class_scout_jumping.png);
}

.TFClassIconScoutShortstop{
	background-image:url(img/classicons/class_scout_shortstop.png);
} 

.TFClassIconScoutStunArmored{
	background-image:url(img/classicons/class_scout_stun_armored.png);
}

.TFClassIconSniperBow{
	background-image:url(img/classicons/class_sniper_bow.png);
}

.TFClassIconSniperBowMulti{
	background-image:url(img/classicons/class_sniper_bow_multi.png);
}

.TFClassIconSniperJarate{
	background-image:url(img/classicons/class_sniper_jarate.png);
}

.TFClassIconSniperSydneysleeper{
	background-image:url(img/classicons/class_sniper_sydneysleeper.png);
}

.TFClassIconSoldierCrit{
	background-image:url(img/classicons/class_soldier_crit.png);
}

.TFClassIconSoldierSpammer{
	background-image:url(img/classicons/class_soldier_spammer.png);
}

.TFClassIconHeavyGru{
	background-image:url(img/classicons/class_heavy_gru.png);
}

.TFClassIconSoldierBuff{
	background-image:url(img/classicons/class_soldier_buff.png);
}

.TFClassIconSoldierConch{
	background-image:url(img/classicons/class_soldier_conch.png);
}

.TFClassIconSoldierBackup{
	background-image:url(img/classicons/class_soldier_backup.png);
}

.TFClassIconPyroFlare{
	background-image:url(img/classicons/class_pyro_flare.png);
}

.TFClassIconHeavyHeater{
	background-image:url(img/classicons/class_heavy_heater.png);
}

.TFClassIconDemoBomber{
	background-image:url(img/classicons/class_demo_bomber.png);
}

.TFClassIconDemoBurst{
	background-image:url(img/classicons/class_demo_burst.png);
}

.TFClassIconDemoknightSamurai{
	background-image:url(img/classicons/class_demoknight_samurai.png);
}

.TFClassIconHeavyChief{
	background-image:url(img/classicons/class_heavy_chief.png);
}

.TFClassIconScoutBat{
	background-image:url(img/classicons/class_scout_bat.png);
}

.TFClassIconScoutBonk{
	background-image:url(img/classicons/class_scout_bonk.png);
}

.TFClassIconTeleporter{
	background-image:url(img/classicons/class_teleporter.png);
}

.TFClassIconSergeantCrits{
	background-image:url(img/classicons/class_soldier_sergeant_crits.png);
}     

.TFClassIconSoldierBarrage{
	background-image:url(img/classicons/class_soldier_barrage.png);
}

.TFClassIconSoldierBlackbox{
	background-image:url(img/classicons/class_soldier_blackbox.png);
}

.TFClassIconSoldierBurstfire{
	background-image:url(img/classicons/class_soldier_burstfire.png);
}

.TFClassIconSoldierLiberty{
	background-image:url(img/classicons/class_soldier_libertylauncher.png);
}

.TFClassIconSoldierMajorCrits{
	background-image:url(img/classicons/class_soldier_major_crits.png);
}

.TFClassIconGiant
{
	background-color:#FF0000;
}

.TFClassIconCritBoost
{
	border: 2px solid #0098C0;
	margin: 0px;
	margin-right:1em;
}

.TFClassIconBossHealthBar
{
	background-color:#550055;
}

.TFClassIcon
{
	width : 3em;
	height : 3em;
    display:inline-block;
    background-size: 100% auto;
}

.TFClassIconLarge
{
	width : 6em;
	height : 6em;
    display:inline-block;
    background-size: 100% auto;
}

.TFClassIconGrey
{
    opacity: 0.3;
	//filter: Alpha (opacity=30);
}